extends ../layout

block content
  #page-header
    .h1
      =  "Food Trucks in "
      input.h1.place(name='place', value='houston, tx', placeholder='place to search')
    .user
      if user
        .username= user.profile.username
        .avatar
        a(href='/logout') logout
      else
        a.sign-in(href='/oauth/twitter') sign in

  section.craft-list
    header
      h1= "Food Trucks in houston, tx"
    each craft in craftResults.crafts.splice(0,10)
      include ../craft/craft
    #craft-list-scroll

