.craft
  .bio
    display inline-block
    width 450px
    color #777
    word-wrap break-word
    .description
      font italic 16px/18px Georgia,"Times New Roman",serif
      padding 12px 12px 4px 12px
  
    .footer
      position relative
      height 18px
      padding 0 12px 12px 12px
      .url
        display inline-block
        font italic 12px/16px Georgia,"Times New Roman",serif
        a
          color #888
          text-decoration none
          outline 0
          &:hover
            text-decoration underline
          &:active
            text-decoration none                        