craft_min_width = 680px

.craft
  transition all 0.3s
  -moz-transition all 0.3s
  -webkit-transition all 0.3s
  -o-transition all 0.3s    
  overflow hidden
  min-width   craft_min_width
  width 680px
  margin 0
  padding 0
  -webkit-border-radius 8px
     -moz-border-radius 8px
      -ms-border-radius 8px
       -o-border-radius 8px
          border-radius 8px
  .canvas
    overflow hidden
    margin 0
    padding 0
    background-color transparent
    -webkit-border-radius 6px
       -moz-border-radius 6px
        -ms-border-radius 6px
         -o-border-radius 6px
            border-radius 6px
    .last-activity
      display block
      overflow hidden
      img
        float left
        width 16px
        height 14px
        padding 0
    
      span
        display inline-block
        float left
        margin 0
        padding 0 0 0 3px
        color #0084B4
        font-weight normal
        font-size 14px
        line-height 18px
    .info
      clear both
      xdisplay none
      overflow hidden

    // .location-info
    //   overflow hidden
    //   padding 8px
    //   color #333
    //   min-width 250px
    //   width 75%
    //   .address
    //     color #777
    //     font-size 12px
    //     line-height 18px
    //     font-family "Helvetica Neue",Arial,sans-serif
    //   .map
    //     float left
    //     width 98%
    //     height 350px
    // .activity-info
    //   display inline-block
    //   padding 0
    //   color #333
    //   font-size 14px
    //   font-family "Helvetica Neue",Arial,sans-serif
    //   .last-tweet
    //     float left
    //     margin 0 8px 8px 8px
    //     display inline-block
    //     .last-activity
    //     .oembed
