a.yelp-follow-button
  position absolute
  top 1px
  right 0
  text-align right
  font normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif
  background #EEE
  border #CCC solid 1px
  height 18px
  text-shadow 0 1px 0 rgba(255, 255, 255, .5)
  text-decoration none
  -webkit-user-select none
     -moz-user-select none
      -ms-user-select none
       -o-user-select none
          user-select none
  -webkit-border-radius 3px
     -moz-border-radius 3px
      -ms-border-radius 3px
       -o-border-radius 3px
          border-radius 3px
  &:hover
    text-decoration none
    border-color #BBB
  i
    position absolute
    top 1px
    left 2px
    width 16px
    height 16px
    background transparent url('/images/yelp/yelp_logo_16x16.png')
    background-size 100%
  .label
    padding 0 3px 0 19px
    font-weight bold  
    color #333
.yelp
  display inline-block
  margin 0
  padding 0
  border 0
  height 56px
  cursor normal
  .logo
    float left
    clear both
    display inline-block
    margin 0
    padding 2px 4px 0 0
    border 0
    height 25px
  .rating-reviews
    padding 0
    margin 0
    overflow hidden
    .rating
      display block
      margin 0
      padding 0
      border 0
      height 35px
      img.star.rating
        display inline-block
        margin 0
        padding 0
        border 0
        height 30px
        width 166px
        background-color transparent
    .reviews
      float left
      display block
      margin 0 3px
      padding 0
      border 0
      x_color #999
      color #C41200
      font-size 14px
      line-height 14px



a.yelp_mini_map_logo
  display inline-block
  width 40px
  height 20px
  background-size 40px 20px
  background transparent url('/images/yelp/miniMapLogo.png') no-repeat center center
  margin 0
  padding 0
a.yelp_logo_50x25
  display inline-block
  width 50px
  height 25px
  background-size 50px 25px
  background transparent url('/images/yelp/yelp_logo_50x25.png') no-repeat center center
a.yelp_logo_75x38
  display inline-block
  width 75px
  height 38px
  background-size 75px 38px
  background transparent url('/images/yelp/yelp_logo_75x38.png') no-repeat center center 
a.yelp_logo_100x50
  display inline-block
  width 100px
  height 50px
  background-size 100px 50px
  background transparent url('/images/yelp/yelp_logo_100x50.png') no-repeat center center 
