extends ../layout

block content
  header#location
    h1
      span.city= location_hash.nickname
      span  Food-Trucks
      span .me
      span.right
        if user
          span.user= user.profile.username
          a(href='/logout') logout
        else
          a(href='/oauth/twitter') sign in
  #query-bar
    .location
      input(name=location, value=location_hash.nickname)

  section.crafts
    each craft in crafts
      include ../craft/craft
