.craft(style="background-color:##{craft.bgColor}; background-image: url(#{craft.bgImage}); background-repeat: #{craft.bgRepeat};")
  .canvas
    .profile.card
      include header
    .info
      include info
