.craft(style="background-color:##{craft.profile_background_color}; background-image: url(#{craft.profile_background_image_url}); background-repeat: #{craft.profile_background_tile ? 'repeat' : 'no'};")
  .canvas
    .profile.card
      include header
    .info
      include info
