#query-bar
  display inline
  font-size 3.85rem   /* same as H1 */
  line-height 5.0rem  /* make room for Input field */
  .place
    margin-left -0.3rem
    padding 1px 6px
    border 1px dotted lighten($black, 30%)
    color $green
    border-radius 4px
    &:hover
      background-color lighten($black, 10%)
      border-color $white
    &.editing
      color green
      text-align right
  input.place
    padding 1px 4px
    border 0
    font-size 3.85rem  /* same as H1 */
    line-height 4.0rem /* same as H1 */
    font-weight bold
    color $green
    margin-left -0.3rem
    padding 1px 4px
    border 1px dotted white
    background-color $black
    &:hover
      background-color $white
      color $purple
    &:focus
      background-color $white
      color $black

