// https://developers.facebook.com/docs/reference/plugins/like/
// https://dev.twitter.com/docs/follow-button
.social-buttons
  margin 8px 0
  overflow hidden
  x-background-color rgba(255,255,255,0.28)
  .tweet-follow-button
    display inline-block
    border none
    overflow hidden
    margin 0 8px
    width 300px
    height 20px
  .facebook-like-button
    display inline-block
    border none
    overflow:hidden
    width 90px
    height 21px
