// border-radius 5px
border-radius()
  -webkit-border-radius arguments
     -moz-border-radius arguments
          border-radius arguments

// transition all 0.2s ease-in-out
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

// opacity 0.5
opacity(n)
  zoom: 1
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
  filter unquote('alpha(opacity=' + round(n * 100) + ')')
  opacity n

.left   { float: left; }
.right  { float:  right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.pin-left
  clear left
  float left
.pin-right
  clear right
  float right

.hidden { display: none; }

.off-screen
  position fixed
  left -800px
  top -800px

.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.loadinginprogress
  display none
  width 16px
  height 16px
  background rgba(255,255,255,0.28) url('/images/loading.gif') no-repeat left top

.dim
  opacity 0.5
