doctype 5
html
  head
    title= appName

    script!= javascript

    !=css('application')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    !=js('application')

  body
    block content
